body {
	/*width: 1200px;*/
	margin: auto;
	font-family: sans-serif;
}


#alltable tr:nth-child(even) {
background: rgba(211, 211, 211, 0.4);
}


table, td, th {
	margin: 10px;
	border: solid black 1px;
	border-width: 1px;
	border-collapse: collapse;
}
