body {
	padding: 2em;
	margin: auto;
	width: 1200px;
}

main {
	display: block;
	background: #f6f6f6;;
	padding: 30px;
}

div {
	padding-top: 30px;
	padding-bottom: 30px;
}

/*
code.rdkit-err {
	/*font-size: 3em;
	background: blue;
	color: red;
}*/

h1 {
	text-align: center;
}
