body {
	padding: 2em;
	font-family: sans-serif;
}

table, th, td {
	border: solid black 1px;
	border-collapse: collapse;
	padding: 0.5em;
}

.summary-table {
	width: 100%
}
tfoot {
	font-weight: bold;

}
main {
	display: grid;
	grid-template: auto auto / auto auto max(20%);
	grid-gap: 1em;
}

section {
	display: block;
	background: #f6f6f6;;
	padding: 3px;
	margin: 1em;
}

h1, h2 {
	text-align: center;
	padding-bottom: 1em;
	padding-top: 1em;
}

h2 {
	font-size: 1.5em
}


#home main {
	display: grid;
	grid-template-columns: 50% 50%;
}

#libraries {
	grid-row: 1/2;
	grid-column: 1/2;
	opacity: 1;
}

#presets {
	grid-row: 1/2;
	grid-column: 2/3;
}

#upload {
	grid-row: 1/2;
	grid-column: 3/4;
	opacity: 1;
}

#stats {
	grid-row: 2/3;
	grid-column: 1/2;
	opacity: 0.2;
}

#graphs {
	grid-row: 2/3;
	grid-column: 2/4;
	opacity: 0.2;
}

#libs {
display: grid;
grid-gap: 1em;	
padding: 1em;
width: 100%;
grid-template-columns: 50% 50%;
}

form.plate-list {
border: solid black 1px;
background: white;
display: grid;
visibility: hidden;
max-height: 0;
position: absolute;
width: 100%;
grid-template-columns: 15% auto auto;
z-index: 3;
padding: 3px;
transition: visibility 0s, max-height 0.8s;
}

form.plate-list-shown {
border: solid black 1px;
background: white;
display: grid;
width: 80%;
grid-template-columns: 15% auto auto;
z-index: 3;
padding: 3px;
}

#hide-all {
display: none;
}

input[type="radio"]:checked ~ .plate-list {
visibility: visible;
height:auto;
max-height:600px;
}

input[type="radio"]:checked ~ .hide-icon {
visibility: visible;
}

.icon {
opacity: 0.5;
}

.icon:hover {
opacity: 1;
}

.show, .hide {
display: none;
}

.hide-icon {
visibility: hidden;
}

input[type="radio"]:checked ~  .hide-icon {
visibility: visible;
}

input[type="checkbox"]:checked label{
width: 500px;
}

.plate-list label{
grid-column: 2/3;
text-align: left;
}

.plate-list input{
grid-column: 1/2;
}

.library {
position: relative;
}

#hide-all-label{
display: block;
float: right;
border: solid black 1px;
}

#properties-form {
padding: 1em;
display: grid;
grid-template-columns: auto auto auto auto;
grid-gap: 1em;
}


.show-on-hover ~ p {
	display: none;
}

.show-on-hover:hover ~ p {
	display: block;
}

.preset, .library {
	border: 1px solid black;
	padding: 5px;
}
