<table id="table" class="table table-hover">
  <thead>
    <th>Library</th>
    <th>Name</th>
    <th>Compounds</th>
    <th>Recommended plate</th>
    <th>Availability details</th>
  </thead>
  <tbody>
  {% for subset in subsets %}
    <tr>
      <td>{{ subset.library.name }}</td>
      <td>{{ subset.name }}</td>
      <td>{{ subset.compounds|length }}</td>
      <td>{{ subset.availability.0.barcode}} {%if subset.availability.0.name%}{{ subset.available.0.name }}{% endif %} <br>
        <strong>{{subset.availability.0.availability}}%</strong> available <br>
        {%if subset.availability.0.current %}(current){% endif %}
      </td>
      <td>
        <span id="{{subset.id}}-shower" onclick=show({{subset.id}})>
          {% include "chevron-down.html"%}
        </span>
        <span id="{{subset.id}}-hider" onclick=hide({{subset.id}}) class="hidden">
          {% include "chevron-up.html"%}
        </span>
      <td>
    </tr>
    {% include "availability-details.html" with initial_class=initial_class %}
  {% endfor %}
  </tbody>    
</table>