{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="{% static "inventory/prep.css" %}">
    <link rel="stylesheet" href="{% static "inventory/style.css" %}">
	
    <title>XChem inventory</title>
    <script src="{% static "inventory/scripts.js" %}"></script>
</head>

<body>
	<main id="compound-lookup">
        <h1>{{compound.code}}</h1>
        
        <section>
            <img src="/molecule/{{compound.id}}/">
            <button id="close">Close compound look-up</button>
        </section>
        <section>
        <table class="table">
            <tbody>
                <tr>
                    <th>SMILES</th>
                    <td>{{compound.smiles}}</td>
                </tr>
                <tr>
                    <th>Molecular Weight</th>
                    <td>{{compound.mol_wt| floatformat:2 }} Da</td></tr>
                <tr>
                    <th>TPSA</th>
                    <td>{{compound.tpsa | floatformat:2}} Å</td>
                </tr>
                <tr>
                    <th>LogP</th>
                    <td>{{compound.log_p | floatformat:2}}</td>
                </tr>
                <tr>
                    <th>Heavy Atom Count</th>
                    <td>{{compound.heavy_atom_count }}</td>
                </tr>
                <tr>
                    <th>Heavy Atom Molecular Weight</th>
                    <td>{{compound.heavy_atom_mol_wt | floatformat:2 }} Da</td>
                </tr>
                <tr>
                    <th>Number of NHs or OHs</th>
                    <td>{{compound.nhoh_count }}</td>
                </tr>
                <tr>
                    <th>Number of Nitrogens and Oxygens</th>
                    <td>{{compound.no_count }}</td>
                </tr>
                <tr>
                    <th>Number of Hydrogen Bond Acceptors</th>
                    <td>{{compound.num_h_acceptors }}</td>
                </tr>
                <tr>
                    <th>Number of Hydrogen Bond Donors</th>
                    <td>{{compound.num_h_donors }}</td>
                </tr>
                <tr>
                    <th>Number of Heteroatoms</th>
                    <td>{{compound.num_het_atoms }}</td>
                </tr>
                <tr>
                    <th>Number of Rotatable Bonds</th>
                    <td>{{compound.num_rot_bonds }}</td>
                </tr>
                <tr>
                    <th>Number of Valence Electrons</th>
                    <td>{{compound.num_val_electrons }}</td>
                </tr>
                <tr>
                    <th>Number of Rings</th>
                    <td>{{compound.ring_count }}</td>
                </tr>
                <tr>
                    <th>Locations: </th>
                    <td>{% for location in compound.locations.all %}
                            {% if location.library_plate.library.public%}
                                {{location.library_plate.library.name }}: {{location.library_plate.barcode}} : {{location.well}} 
                                {%if not location.active %}(unavailable){% endif %}<br/>
                            {% endif %}
                        {%endfor%}
                    </td>
                </tr>
                </tr>
            </tbody>
        </table>
        </section>
    </main>
    <script>document.getElementById('close').addEventListener('click', ()=>window.close())</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
</body>
</html>
