main#index{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

main#libraries, main#presets{
	display: grid;
	grid-template-columns: auto 35ch;
}


main#presets{
	display: grid;
	grid-template-columns: auto 70ch;
}


#presets #forms div{
	border: solid black 1px;
	padding: 5px;
	margin: 5px;
}

main#compound-lookup {
	width: 1000px;
	margin: auto;
	display: grid;
	grid-template-columns: 300px auto;
}

main h1 {
	grid-column: 1/-1;
}

section#library-list{
	grid-column: 1/2;
}

section#upload-form{
	grid-column: 2/3;
}

.list-in-table{
	border: solid #ec0000 1px;
	height: 6em;
	overflow-y: scroll;
	transition: height 0.5s;
}



#presets .list-in-table:hover {
	height: 20em;
	transition: height 0.5s;
}

.edit-field{
	background: lightgray;
	border-left: solid black 2px;
	border-bottom: solid black 2px;
	border-right: solid black 2px;	
}

.edit-field form{
	padding: 5px;
}

.edit-field div{
	width: 50%;
}

#libraries .edit-field div{
	width: 25%;
}

.edit-field input[type="text"], .edit-field button{
	width: 100%;
}
.delete-button {
	background: #ec0000;
	margin-top: 5px;
	margin-bottom: 5px;
}

#error {
	border: solid #ec0000 3px;
	width: 50%;
	margin: auto;
}

main#plates {
	display: grid;
	grid-template-columns: auto 70ch;
}

.highlight {
	background: aliceblue;
	border: solid #ec0000 2px;
}

.inactive-row {
	background: white;
	color: gray;
}

#update-plate {
	display: grid;
	grid-template-columns: 50ch auto 50ch;
}

#update-plate h2 {
	grid-column: 1/4;
}

#multi-delete-form #liblist {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#well {
	width: 6em;
}

#finder {
/*	background: aliceblue;
	border: solid #ec0000 3px;*/
	padding: 5px;
}

#finder-feedback {
	height: 3em;
	text-align: center;
	color: blue;
}

.button, [type="submit"]{
	width: 100%;
	border-width: 1px;
	border-color: #ec0000;
}

#update-plate button[type="submit"] {
	font-size: 1.2em;
	padding: 5px;
	bottom: 2px;
}

hr {
	color: black;
}

div.c {
	padding: 0;
}

.c-active {
	background: lightgreen;
}

.c-inactive {
	background: #ec0000;
	color: white;
}
main#general-view {
	display: grid;
	grid-template: auto auto auto 800px / auto minmax(min-content, 30em);
}

main#graphic-view {
	display: grid;
	grid-template-columns: 300px auto;
}

#graphic-view #top {
	grid-column: 1/2;
	grid-template: auto auto / auto;
}

#graphic-view #plate-info, #graphic-view #availability, #graphic-view #extra-table  {
	display: none;
}

#graphic-view h1{
	font-size: 2em;
}

main#general-view  h1, h2 {
	grid-column: 1/3;
}

section#extra-table div{
	height: 750px;
	overflow-y: scroll;
	margin-bottom: 1em;
	border: solid gray 1px;
}

.small-font-table {
	width: 100%;
	font-size: 0.8em;
}

.small-font-table th {
	background: #f6f6f6;
}


table.small-font-table th, table.small-font-table td {
	padding: 2px;
	border: solid lightgrey 1px;
}

#top {
	grid-column: 1/3;
	display: grid;
	grid-gap: 2em;
	grid-template-columns: 1fr 2fr 1fr 1fr;
}

#top div {
	margin: 5px;
}

table, input, select {
	width: 100%;
}

#top table{
	table-layout: fixed ;
}

#vis {
	table-layout: fixed ;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	height: 705px;
}

#vis td {
	padding: 0;
}

#vis div{
	height: 100;
}

#vis div:hover{
	transition: transform 0.1s;
	transform: scale(2);
	border: solid black 1px;
	cursor: none;
}

.align-right {
	text-align: right;
}

/*
.active-row td {
	animation: grow-vertically 0.2s ease;
}

@keyframes grow-vertically {
    0% {
		line-height: 0%;
		padding: 0;
        transform: scaleY(0.1);
    }
    100% {
        line-height: 100%;
        padding: 0.75rem;
        transform: scaleY(1);
    }
}*/

div#date {
	border-left: solid black 1px;
	/*border-right: solid #ec0000 3px;*/
	border-right: solid black 1px;
}

#date {
	text-align: center;
}

#date strong {
	font-size: 3em;
}

textarea {
	width: 100%;
	height: 6em;
}

.table-filter {
	font-size: 1.5em;
	padding-bottom: 5px;
	background: aliceblue;
}

div.drop-group-container {
	background: #f6f6f6;
	height: 95px;
	width: 95px;
}


div.drop-group-container:hover {
	background: white;
	border: solid 1px #ec0000;
	border-radius: 8px;
	transform: scale(1.5);
}

div.drop-group {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	
}

div.drops {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	background: white;
	height: 65px;
	width: 65px;
	/*background: blue;*/
	margin: auto;
	border: solid gray 1px;
	border-radius: 5px;
}

div.drops:hover {
	background: aliceblue;
	
}

.drops label, .drops input {
	margin: 1px;
	padding: 0;
	width: auto;
	font-weight: bold;

}

.drops input[type=checkbox] {
	transform: translate(0, 3px);
}

input:hover {
	border: solid 2px red;
}

#xp th, td.row-header{
	position: inherit;
	background: #b5ddff;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px;
	border: solid black 2px;
}

span.well-representation {
	height: 16px;
	width: 16px;
	padding: 0;
	margin: 0;
}

.drops input:checked {
	filter: invert(100%) hue-rotate(18deg) brightness(1.1);
}


#dt-summary h1 {
	grid-column: 1/3;
}

.error-log {
	color: #ec0000;
	font-size: 2em;
}

.side {
	opacity: 0.5;
}

.side:hover{
	opacity: 1;
}

#dt-summary {
	display: grid;
	grid-template: min-content auto / 1fr 1fr;
	grid-gap: 1em;
}

@media only screen and (max-width: 1260px) {

	#dispense-testing {
		display: grid;
		grid-template-rows: auto auto;
	}
}

@media only screen and (min-width: 1261px) {
	
	#dispense-testing {
		display: grid;
		grid-template-columns: auto auto;
	}
}

main#proposal {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.list-in-table-pix{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border: solid #ec0000 1px;
	max-height: 200px;
	overflow-y: scroll;
	transition: height 0.5s;
}

.list-with-pix div{
	margin: 3px;
}

img.small-mol{
	width: 100px;
	transition: height 0.5s, width 0.5s;
}

#locate {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

#overlay {
	position: absolute;
	display: none;
	/*opacity: 0.5;*/
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 99;
}

#overlay-message {
	text-align: center;
	font-size: 2em;
	display: block;
	position: static;
	margin-top: 10em;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 20em;
	background: aliceblue;
}


.availability-details {
	font-size: 1.2em;
	background: aliceblue;
	border: solid lightgrey 1px;
	margin-top: 5px;
	padding: 4px;
	/*width: 810px;*/
}

.preset-detail-iframe {
	width: 810px;
}

.availability-content {
	width: 800px;
	height: 50px;
}

.iframe-container {
	padding: 0;
	width: 820px;
	min-height: 50px;
	position: relative;
	background: white;
	text-align: center;
	background:url(Gear.gif) center center no-repeat;
}