{% extends "layout.html" %}
{% load static %}
  {% block main %}
  
  <script>
    function showForm(index){
      const id = "lib-" + index;
      document.getElementById(id).className = "edit-field";
    }
    function hideForm(index){
      const id = "lib-" + index;
      document.getElementById(id).className = "hidden";
    }

    function show(id){
      console.log('show');
      cont = document.getElementById(id);
      cont.className = "iframe-container";
      hider =  document.getElementById(id + "-hider");
      hider.className = "";
      shower = document.getElementById(id + "-shower");
      shower.className = "hidden";
    }

    function hide(id){
      console.log('hide');
      subTable = document.getElementById(id);
      subTable.className = "hidden";
      hider =  document.getElementById(id + "-hider");
      hider.className = "hidden";
      shower = document.getElementById(id + "-shower");
      shower.className = "";
    }

    function stretch(frame){
      frame.style.height = 0;
      const height = frame.contentWindow.document.body.scrollHeight;
      if (height > 0){
        frame.style.height=(frame.contentWindow.document.body.scrollHeight+20)+'px';
      }
      else{
        frame.style.height = '400px';
      }
    }
    
  </script>
  
  <main id="presets">
  {% include "overlay.html" %}
    <h1>XChem fragment presets</h1>
    <section id="preset-list">  
      <div class="update-button">{{form_errors}} {{non_field_errors}}</div>
      <table id="table" class="table">
        <col>
        <col>
        <col style="width: 800px">
        <col>
      </colgroup>
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Libraries</th>
          <th>Edit</th>
        </thead>
        <tbody>
          {% for preset, form in form_dict.items %}
            <tr>
              <td>{{ preset.name }}</td>
              <td>{{ preset.description }}</td>
              <td>
                {% if preset.subsets.count > 0 %}
                <div>
                  <ul>
                  {% for subset in preset.subsets.all %}
                    <li>{{ subset.library.name }} : <strong>{{ subset.compounds.count }}</strong> compounds </li>
                      <div class="list-in-table">
                        <table class="small-font-table">
                           <colgroup>
                          <thead>
                            <tr>
                              <th></th>
                              <th>Code</th>
                              <th>SMILES</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for compound in subset.compounds.all %}
                            
                            <tr>
                            
                              <td>{{ forloop.counter }}</td>
                              <td>{{ compound.code }}</td>
                              <td>{{ compound.smiles }}</td>
                              
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      
                  {% endfor %}            
                  </ul>
                  <div class="availability-details">Availability details 
                        <span id="{{preset.id}}-shower" onclick=show({{preset.id}})>
                          {% include "chevron-down.html"%}
                        </span>
                        <span id="{{preset.id}}-hider" onclick=hide({{preset.id}}) class="hidden">
                          {% include "chevron-up.html"%}
                        </span> 
                      </div>
                      <table>
                        <div id="{{preset.id}}" class="hidden">
                          <iframe id="{{preset.id}}-frame" loading="lazy" src="/inventory/preset-availability/{{preset.id}}/" class="preset-detail-iframe" onload=stretch(this)></iframe>
                        </div>
                      </table>
                </div>
                {% else %}
                No libraries added yet <br>
                {% endif %}
              </td>
              <td><button onclick="showForm({{ preset.id }})">Edit/Delete</button></td>
            </tr>
            <tr class="hidden" id="lib-{{ preset.id }}">
              
              <td colspan="4">
                <div class="edit-form">
                  <button type="reset" onclick="hideForm({{ preset.id }})">Discard changes / hide form</button>
                  <form class="" action="../edit-preset/" method="post" enctype="multipart/form-data">
                    <legend>Edit {{preset.name}} </legend>
                    {% csrf_token %}
                    <table>
                    {{ form.as_table }}
                    </table>
                    <input id="{{preset.id}}-id}" type="hidden" name="id" value="{{preset.id}}">
                    <button type="submit" value="Submit" onclick="showOverlay([])">Save changes</button>                
                  </form>
                  <form class="" action="../delete-preset/" method="post" id="delete-{{preset.id}}">
                    {% csrf_token %}
                    <input type="hidden" value="{{preset.id}}" name="id" >
                    <button type="submit" value="Submit" class="delete-button"  onclick="submitDelete('{{preset.id}}', '{{preset.name}}')">Delete {{preset.name}}</button>
                  </form>
                
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>        
      </table>
    </section>
    <section id="forms">
      <div>
      <h2>Create new preset</h2>
      <form action="../add-preset/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{ new_preset_form.as_table }}
        </table>
        <input type="submit" value="Submit" onclick="showOverlay(['id_new_preset_library', 'id_new_preset_name', 'id_new_preset_compound_list'])">
      </form>
      {{form_errors}}
      </div>    
    </section>
    
  </main>
  {% endblock %}
