{%load static %}
<head>

   <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/inventory/prep.css">
    <link rel="stylesheet" href="/static/inventory/style.css">
</head>
<body class="availability-content">
    <main id="availability">
        <h1>Compound availability details for {{preset.name}}</h1>
        {% for subset in preset.subsets %}
        <h4>{{subset.library_name}}({{subset.compounds.count}})</h4>
        <table class="availability-details">

            {% include "availability-details.html" with initial_class=""%}
        </table>
            {% endfor %}
    </main>

</body>
