{% extends "layout.html" %}
{% load static %}
  {% block main %}
  
  <script>
    function show(id){
      console.log('show');
      subTable = document.getElementById(id);
      subTable.className = "";
      hider =  document.getElementById(id + "-hider");
      hider.className = "";
      shower = document.getElementById(id + "-shower");
      shower.className = "hidden";
    }

    function hide(id){
      console.log('hide');
      subTable = document.getElementById(id);
      subTable.className = "hidden";
      hider =  document.getElementById(id + "-hider");
      hider.className = "hidden";
      shower = document.getElementById(id + "-shower");
      shower.className = "";
    }
    
  </script>
  
  <main id="proposal">
    <h1>Manage proposal {{ proposal.proposal }}</h1>
    <section id="library-list">  
	  <h2>User's library plates:</h2>
      <table id="table" class="table table-hover">
        <thead>
          <th>Library</th>
          <th>Barcode</th>
          <th>Compounds</th>
          <th>Last updated</th>
          <th>Update</th>
          <th>Track usage</th>
        </thead>
        <tbody>
          {% for library in proposal.libraries.all %}
            {% if not library.public %}
            {% for plate in library.plates.all %}
              <tr class="plate-row" data-lib="{{library.id}}">
              <td>{{ library.name }}</td>
              <td>{{ plate.barcode }}</td>
              <td>{{plate.compounds.count}}</td>
              <td>{{ plate.last_tested|date:"d M Y" }}</td>
              <td><a href="/inventory/update-plate/{{plate.id}}/">Update/delete</a></td>
              <td><a href="/inventory/track-usage/{{plate.id}}/{{plate.last_tested|date:"Y-m-d"}}/general-view/">Track usage</a></td>
              </tr>
            {% endfor %}
			{% endif %}

          {% endfor %}
        </tbody>        
      </table>
    
    </section>
    <section id="subset-list">  
	  <h2>User's visits:</h2>
	  <table>
		  <thead>
			  <tr>
				  <th>Visit</th>
				  <th>Manage experiment</th>
			  </tr>
		  </thead>
		  <tbody>
			  <tr><td colspan="2">TODO</td></tr>
		  </tbody>
	  </table>
    </section>
    <section>
      <h2>Plates for cherry-picking lists and presets</h2>

      {% include "availability-table.html" with subsets=subsets initial_class="hidden" %}

    </section>

    
  </main>
  {% endblock %}
