body {
padding: 2em;
font-family: sans-serif;
}

table, th, td {
border: solid black 1px;
border-collapse: collapse;
padding: 0.5em;
}

h1, h2 {
text-align: center;
}

tfoot {
font-weight: bold;

}
main {
display: grid;
grid-template: auto / auto auto;
grid-gap: 1em;
}

section {
display: block;
background: #f6f6f6;
padding: 3px;
margin: 5px;
}
ul {
  list-style-image: url("../../static/playground/li-icon.png");
}

li {
padding: 2em;
}

#protein-form {
display: none;
}
