body {
	padding: 2em;
	margin: auto;
	width: 1200px;
}

main {
	display: block;
	background: #f6f6f6;;
	padding: 30px;
}

div {
	padding-top: 30px;
	padding-bottom: 30px;
}

h1 {
	text-align: center;
}

.example {
	display: grid;
	grid-template-columns: 40% 60%;
}
