body {
	padding: 1em;
	margin: auto auto;
	max-width: 2500px;
}

section {
	display: block;
	background: #f6f6f6;
	padding: 3px;
	margin: 1em;
	position: relative;
}
section.changed {
	background: aliceblue;
}

button {
	border-width: 1px;
	border-color: #ec0000;
}

h1, h2, h3 {
	text-align: center;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

h1 {
	text-decoration: underline;
	text-decoration-color: #ec0000;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

nav {
	font-size: 1.2em;
}

caption {
	caption-side: top;
	border: solid 1px;
	font-size: 1.2em;
	text-align: center;
}
/*same as actual Bootstrap links; throw out after implementing react routers*/
span.pseudo-link {
	color:#2780e3;
	text-decoration:none;
	background-color:transparent
}

.pseudo-link:hover {
	color:#165ba8;
	text-decoration:underline
}


/*PICKER*/

tfoot {
	font-weight: bold;
}
/*
#picker main {
	display: grid;
	grid-template: auto auto / 40% 35% 25%;
	grid-gap: 1em;
}
*/

#main-picker {
	display: grid;
	grid-template: auto auto / 40% 35% 25%;
	grid-gap: 1em;
}

#libraries {
	grid-row: 1/2;
	grid-column: 1/2;
}

#upload {
	grid-row: 1/2;
	grid-column: 3/4;
	opacity: 1;
	display: grid;
	grid-template-rows: auto auto;
}

#stats {
	grid-row: 2/3;
	grid-column: 1/4;
}

.form-container {
	position: relative
}

hr {
	margin: 0;
}

#libs, #pres {
	display: flex;
	flex-wrap: wrap;
	flex-gap: 
	padding: 1em;
	width: 100%;
	margin-bottom: 2em;
}

.subset-row td {
	background: #e2e2e2;
	border-color: white;
}

#libform, #preset-form {
	height: 100%;
	display: absolute;
}

#libform button, #preset-form button, .compound-upload button{
	width: 100%;
	height: 2em;
	position: absolute;
	bottom: 0;
	margin-top: 1em;
}

.library {
	position: relative;
	flex-grow: 1;
}

.preset, .library {
	border: 1px solid black;
	padding: 1em;
	margin: 0.5em;
}

.show-on-hover ~ p {
	display: none;
}

.show-on-hover:hover ~ p {
	display: block;
}

#stat-calculator {
	margin:0 auto;
    display:block;
	margin: auto;
	padding-left: 10em;
	padding-right: 10em;
	margin-bottom: 5px;
}

#library-stats {
	grid-column: 2;
	grid-row: 1;
	width: 100%;
}

#library-stats th{
	font-size: 0.8em;
}

.compound-upload label {
	margin-bottom: 0;
}

.compound-upload input {
	width: 100%;
	}

.compound-upload button {
	grid-column: 1/3;
}

.compound-upload{
	display: grid;
	grid-template-columns: 30% 70%;
	position: relative;
	padding-bottom: 2em;
}

.compound-upload label {
	grid-column: 1/2;
}

.compound-upload input {
	grid-column: 2/3;
	margin: 5px;
}

#formatting-help {
	padding: 1em;
}

#formatting-help a{
	text-decoration: underline;
	text-decoration-color: #ec0000;

}

/*HOME*/


#home main {
	display: grid;
	grid-template-columns: 50% 50%;
}

/*SUMMARY*/

#summary-main {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

#summary-main #whole, #summary-main #subsets{
	grid-column: 1/2;
}

#summary-main #exports{
	grid-column: 2/3;
	grid-row: 1/3;
}

#exports button {
	width: 100%;
	font-size: 1.2em;
}

#exports select {
	width: 100%;
}

/*PLATE LOOKUP*/

#plate-lookup main {
	padding: 1em;
	width: 100%;
	margin-top: 20px;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 15em auto;
}

/*to accomodate buttons*/
#table th{
	position: relative;
	padding-bottom: 2em;
}

#table thead th{
    position: webkit-sticky;
	position: sticky;
	background: white;
	top: 0;
	padding-bottom: 2em;
}

.row-no {
	width: 3em;
}

button.in-table {
	width: 98%;
	padding: 1px;
	margin: 2px;
	font-size: 0.8em;
	position: absolute;
	bottom:0;
	left:0;
}

.hidden {
	display: none;
}

button.small-button {
	width: 100%;
	padding: 1px;
	margin: 1px;
	font-size: 0.8em;
}
 .old-uploads {
	font-size: 0.8em;
 }

#other-plates {
	font-size: 0.8em;
}
